# Application Configuration
APP_PORT=8000

#STELLAR_NETWORK=testnet
# STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org


#STELLAR_NETWORK=mainnet
# STELLAR_HORIZON_URL=https://horizon.stellar.org

# Stellar Blockchain Configuration
NODE_ENV=development
MASTER_ENCRYPTION_KEY=
STELLAR_NETWORK=
STELLAR_HORIZON_URL=
STELLAR_BASE_FEE=
STELLAR_TIMEOUT=
SYTE_ASSET_CODE=
SYTEPLOT_ASSET_CODE=
SYTEPLOT_ISSUER_ADDRESS=
SYTE_ISSUER_ADDRESS=
SYTE_DISTRIBUTOR_ADDRESS=
SYTE_DISTRIBUTOR_PRIVATE_KEY=
SPONSOR_PRIVATE_KEY=
SPONSOR_PUBLIC_KEY=