services:
  - type: web
    name: sytemap-stellar-service
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/v1/welcome
